POSTGRES_URL=
DB_DRIVER=postgres
SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=
HHTP_SERVER_ADDRESS=0.0.0.0:8080
GRPC_SERVER_ADDRESS=0.0.0.0:9000
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=